<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<article>
{% block body %}{% endblock %}
{% for item in books %}
<h1>{{ item.titre }}</h1>
    {% if (item.parution > 2015) %}
    <p>Nouveauté !</p>
    {% endif %}
    <p>écrit par {{ item.auteur }} en {{ item.parution }}</p>
    <p>{{ item.presentation }}</p>
{% endfor %}
</article>
{% block javascripts %}{% endblock %}
</body>
</html>
