<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<article>
{% block body %}{% endblock %}
{% for item in books %}
<h1>{{ item.titre }}</h1>
    {% if (item.parution|date('Y') > 2015) %}
    <p style="color:blue">Nouveauté !</p>
    {% endif %}
    <p>écrit par {{ item.auteur }} en {{ item.parution|date('Y/m/d') }}</p>
    <p>{{ item.presentation }}</p>
    <p><a href="{{ path('details', {'id': item.id}) }}">Voir la fiche de ce livvre</a></p>
{% endfor %}

    {# test de commentaire #}
</article>
{% block javascripts %}{% endblock %}
</body>
</html>
